 body{
            text-align: center;
            font-family: 'Gugi', cursive;
            background: linear-gradient(to right, #ccc4ff, #aec2fd), #f1baff;
        }
        div{
            border: 2px dashed #ffffff;
            margin: 10px;
            padding: 5px 30px;
            border-radius: 15px;
            box-shadow: 3px 3px #d3eaff;
        }
        #principal{
            width: 50px;
            float: left;
            border-radius:50%;
        }  
        div.especial h3{
            font-family: 'Merriweather';
            text-shadow: 10px 5px #e8eeff;
        }
